the-marvel-bot/flows-the-marvel-bot.json
[{"id":"67968d22.3deaa4","type":"tab","label":"TheMarvelBot","disabled":false,"info":""},{"id":"dc4b36b.dd249c8","type":"watson-speech-to-text","z":"67968d22.3deaa4","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":910,"y":400,"wires":[["59be94e6.f636ac"]]},{"id":"55046d10.7a3ec4","type":"function","z":"67968d22.3deaa4","name":"Prepara Entrada","func":"msg.params = {\n    session_id: msg.payload.chatId,\n    entities: msg.payload.content,\n}\n\nmsg.chatId = msg.payload.chatId;\nmsg.type = msg.payload.type;\nmsg.weblink = msg.payload.weblink;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":260,"wires":[["1e9d86f2.7bfb29"]]},{"id":"1a6e2e86.434af1","type":"watson-assistant-v2","z":"67968d22.3deaa4","name":"Assistant","service-endpoint":"","assistant_id":"","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":380,"y":460,"wires":[["21a00bef.48b2c4"]]},{"id":"180412af.c4e90d","type":"visual-recognition-v3","z":"67968d22.3deaa4","name":"VR","vr-service-endpoint":"","image-feature":"classifyImage","lang":"pt-br","x":550,"y":320,"wires":[["54c03a1c.060404"]]},{"id":"b640d368.9f9c1","type":"switch","z":"67968d22.3deaa4","name":"Switch Type","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"photo","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":360,"wires":[["a5b2a618.46af08"],["59be94e6.f636ac"],["84244c2a.d04b9"]]},{"id":"a5b2a618.46af08","type":"function","z":"67968d22.3deaa4","name":"Entrada VR","func":"msg.params={\n    threshold:0.5,\n    classifier_ids:[\"marvel_characters_2025307040\"],\n}\n\nmsg.payload = msg.weblink;\nflow.set(\"reconheceImg\",true);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":320,"wires":[["180412af.c4e90d"]]},{"id":"8f2bdd3a.24174","type":"link in","z":"67968d22.3deaa4","name":"SaidaWatson-in","links":["59be94e6.f636ac"],"x":75,"y":460,"wires":[["1a6e2e86.434af1"]]},{"id":"59be94e6.f636ac","type":"link out","z":"67968d22.3deaa4","name":"SaidaWatson","links":["8f2bdd3a.24174"],"x":1015,"y":360,"wires":[]},{"id":"21a00bef.48b2c4","type":"function","z":"67968d22.3deaa4","name":"Prepara Saída","func":"var output = \"\";\n\ngeneric=msg.payload.output.generic\nnode.warn(generic)\n\tif(generic) {\n    \t\tfor(i=0;i<generic.length;i++){\n        \t\t\toutput += generic[i].text +\"\\n\\n\"\n    \t\t}\n\t}\n\t\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"message\",\n  \tcontent : output,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":460,"wires":[["9d3245ea.ff7658"]]},{"id":"47f0f280.94b1ec","type":"link in","z":"67968d22.3deaa4","name":"Switch-in","links":["1e9d86f2.7bfb29"],"x":75,"y":360,"wires":[["b640d368.9f9c1"]]},{"id":"1e9d86f2.7bfb29","type":"link out","z":"67968d22.3deaa4","name":"Switch","links":["47f0f280.94b1ec"],"x":1015,"y":260,"wires":[]},{"id":"54c03a1c.060404","type":"function","z":"67968d22.3deaa4","name":"Saída VR","func":"models=msg.result.images[0].classifiers\nstr=[]\n\nif (models) {\n    models.forEach(function (model,idx1) {\n        if (model.classes){\n            model.classes.forEach(function (classes,idx2){\n                str.push(classes.class)\n            });\n        }\n    });\n    msg.output= `personagem ` +str.join(', ')\n}\n\nif (str.length===0) {\n    msg.output= \"Desculpe! Não reconheci este personagem.\"\n    flow.set(\"reconheceImg\",false);\n}\n\nmsg.params = {\n    session_id: msg.chatId,\n    entities: msg.entities,\n}\n\nmsg.payload= msg.output;\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":320,"wires":[["1a3044a1.c18a9b"]]},{"id":"1a3044a1.c18a9b","type":"switch","z":"67968d22.3deaa4","name":"reconheceImg","property":"reconheceImg","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":320,"wires":[["31250588.32a92a"],["59be94e6.f636ac"]]},{"id":"e8a4df4c.c0683","type":"function","z":"67968d22.3deaa4","name":"Saida reconheImg=False","func":"msg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"message\",\n  \tcontent : msg.output\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":520,"wires":[["9d3245ea.ff7658"]]},{"id":"31250588.32a92a","type":"link out","z":"67968d22.3deaa4","name":"reconheceImg(false)","links":["a02b36f3.b4d6a8"],"x":1015,"y":320,"wires":[]},{"id":"a02b36f3.b4d6a8","type":"link in","z":"67968d22.3deaa4","name":"reconheceImg-In(false)","links":["31250588.32a92a"],"x":75,"y":520,"wires":[["e8a4df4c.c0683"]]},{"id":"84244c2a.d04b9","type":"function","z":"67968d22.3deaa4","name":"Prepara STT","func":"msg.payload = msg.weblink\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":400,"wires":[["dc4b36b.dd249c8"]]},{"id":"ec586990.c1aa68","type":"telegram receiver","z":"67968d22.3deaa4","name":"Telegram-In","bot":"df27168b.86a818","saveDataDir":"","filterCommands":false,"x":390,"y":260,"wires":[["55046d10.7a3ec4"],[]]},{"id":"9d3245ea.ff7658","type":"telegram sender","z":"67968d22.3deaa4","name":"Telegram-Out","bot":"df27168b.86a818","x":880,"y":460,"wires":[[]]},{"id":"df27168b.86a818","type":"telegram bot","z":"","botname":"TheMarvelBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]