node-red-flows/20200528-aula8_e_9.json
[{"id":"311d829d.033e0e","type":"tab","label":"20200528-Aula_8_9","disabled":false,"info":""},{"id":"61d2b306.e9488c","type":"watson-assistant-v2","z":"311d829d.033e0e","name":"Vendas","service-endpoint":"","assistant_id":"2feaaeee-ec05-4d4f-8323-3c55d36d8105","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":500,"y":300,"wires":[["176a2634.b08caa","28d3469a.97b18a"]]},{"id":"34481f64.7e273","type":"microphone","z":"311d829d.033e0e","name":"MIC","x":150,"y":300,"wires":[["c97c9993.632f58"]]},{"id":"5b46741d.deb8cc","type":"debug","z":"311d829d.033e0e","name":"Saída TTS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":420,"wires":[]},{"id":"c97c9993.632f58","type":"watson-speech-to-text","z":"311d829d.033e0e","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"U5a1EXSMvroCXCSxNYPQFw99DTbybL02f8uLH2PuEXmQ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":310,"y":360,"wires":[["5b46741d.deb8cc","61d2b306.e9488c"]]},{"id":"a586052a.ae0d58","type":"watson-text-to-speech","z":"311d829d.033e0e","name":"TTS","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV3Voice","voicehidden":"en-US_LisaV3Voice","format":"audio/wav","password":"","apikey":"WmMY_kTz6vwo5a85K9iXiW6h5t2EyTFkAvS6P_KeIpSQ","payload-response":true,"service-endpoint":"","x":1050,"y":360,"wires":[["9b7fd579.f837b8","78ec7297.7d81bc"]]},{"id":"9b7fd579.f837b8","type":"play audio","z":"311d829d.033e0e","name":"Speaker","voice":"0","x":1220,"y":300,"wires":[]},{"id":"78ec7297.7d81bc","type":"debug","z":"311d829d.033e0e","name":"Saída TTS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":420,"wires":[]},{"id":"176a2634.b08caa","type":"debug","z":"311d829d.033e0e","name":"Saída Watson","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":220,"wires":[]},{"id":"28d3469a.97b18a","type":"function","z":"311d829d.033e0e","name":"Prepara Saída","func":"tem=msg.payload.output.generic[0].text\n\nmsg.payload=temp\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":360,"wires":[["23aefabd.65bf86"]]},{"id":"23aefabd.65bf86","type":"watson-translator","z":"311d829d.033e0e","name":"Translator","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"sZxDq-d_NeafQawy-aHOwBII56sOVG0TV2VgKJb8IU_m","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":900,"y":280,"wires":[["a586052a.ae0d58","e879c7e4.b68c88"]]},{"id":"e879c7e4.b68c88","type":"debug","z":"311d829d.033e0e","name":"Saida Translator","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":220,"wires":[]}]