node-red-flows/20200507-aula6.json
[{"id":"efb5cf1d.cf5ca","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"13e3f031.7de4e","type":"http in","z":"efb5cf1d.cf5ca","name":"Entrada","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["d4d3bd9f.0cd3e","8c363c5d.11abb"]]},{"id":"d4d3bd9f.0cd3e","type":"function","z":"efb5cf1d.cf5ca","name":"Prepara mensagem watson","func":"msg.params = {\n\"session_id\" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nmsg.payload = msg.payload.mensagem;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["466f4679.d6d3c8","eb3e92.f415e17"]]},{"id":"466f4679.d6d3c8","type":"watson-assistant-v2","z":"efb5cf1d.cf5ca","name":"Vendas","service-endpoint":"","assistant_id":"2feaaeee-ec05-4d4f-8323-3c55d36d8105","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":500,"y":140,"wires":[["a29067b7.7a1e48"]]},{"id":"a29067b7.7a1e48","type":"function","z":"efb5cf1d.cf5ca","name":"Prepara retorno","func":"msg.payload = {\n    'respostas':msg.payload.output.generic,\n    'session_id':msg.payload.session_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["415eda4f.a521c4","21647dcc.2faa32"]]},{"id":"415eda4f.a521c4","type":"http response","z":"efb5cf1d.cf5ca","name":"retorno","statusCode":"","headers":{"Acess-Control-Allow-Origin":"*"},"x":820,"y":160,"wires":[]},{"id":"8c363c5d.11abb","type":"debug","z":"efb5cf1d.cf5ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":80,"wires":[]},{"id":"eb3e92.f415e17","type":"debug","z":"efb5cf1d.cf5ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":340,"wires":[]},{"id":"21647dcc.2faa32","type":"debug","z":"efb5cf1d.cf5ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":340,"wires":[]}]